.ce-block--selected .ce-block__content,
.ce-inline-toolbar,
.codex-editor--narrow .ce-toolbox,
.ce-conversion-toolbar,
.ce-settings,
.ce-settings__button,
.ce-toolbar__settings-btn,
.cdx-button,
.ce-popover,
.ce-toolbar__plus:hover {
  background: theme('colors.popover.DEFAULT');
  color: theme('colors.foreground');
  border-color: theme('colors.border');
}

.ce-popover-item__title {
  color: theme('colors.foreground');
}

.ce-inline-tool,
.ce-conversion-toolbar__label,
.ce-toolbox__button,
.cdx-settings-button,
.ce-toolbar__plus {
  background: theme('colors.popover.DEFAULT');
  color: theme('colors.foreground');
  border-color: theme('colors.border');
}

.ce-popover-item__icon,
.ce-conversion-tool__icon {
  background-color: theme('colors.muted.DEFAULT');
  color: theme('colors.foreground');
  box-shadow: none;
}

.cdx-search-field {
  border-color: theme('colors.border');
  background: theme('colors.popover.DEFAULT');
  color: theme('colors.foreground');
}

::selection {
  background: theme('colors.accent.DEFAULT');
}

.cdx-settings-button:hover,
.ce-settings__button:hover,
.ce-toolbox__button--active,
.ce-toolbox__button:hover,
.cdx-button:hover,
.ce-inline-toolbar__dropdown:hover,
.ce-inline-tool:hover,
.ce-popover-item:hover,
.ce-conversion-tool:hover,
.ce-toolbar__settings-btn:hover {
  background-color: theme('colors.accent.DEFAULT') !important;
  color: theme('colors.accent.foreground');
}

.cdx-notify--error {
  background: theme('colors.destructive.DEFAULT') !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
  background: white;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}
